.success {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .success div {
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgb(213, 212, 212);
    background: white;
    display: grid;
  }